@use "../../styles/global.scss" as *;

.hero {
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;
  .hero-overlay {
    width: 100%;
    height: 60%;
    // background: rgba(0, 0, 0, 0.5); // image üstü qaralma
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
    text-align: center;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;

    a {
      color: $main-text-color;
      text-decoration: none;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

    .active {
      opacity: 1;
      font-weight: 500;
    }
  }
  @media (max-width: 768px) {
    background-size:cover;
    background-position-y:50%;
    height: 210px;
    h2 {
      font-size: 28px !important;
      margin-bottom: 0;
    }
    a {
      font-size: 16px;
    }
  }
}
