@use "../../styles/global.scss" as *;
.main-btn {
display: flex;
justify-content: center;
  button {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 2px 18px 2px 3px;
    background: #fff;
    color:$main-bg-color;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 1px;
    .arrow {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: #000; // qara bg
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
        filter: brightness(0) invert(1);

        transition: transform 0.3s ease;
      }
    }

    span {
      font-weight: 500;
      font-size: 14px;
      white-space: nowrap;
    }

    // HOVER ROTATE
    &:hover .arrow img {
      transform: rotate(45deg);
    }
  }
}
