@use "../../styles/global.scss" as *;
.main-btn {
display: flex;
justify-content: center;
  button {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 2px 18px 2px 3px;
    background: #fff;
    color:$main-bg-color;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 1px;
    position: relative;
   transition: transform 0.4s ;

    &::before {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background: #000;
  border-radius: 50px;
  transform: scaleX(0);         
  transform-origin: left;    
  transition: transform 0.4s ;
  z-index: -1;
}
&:hover::before{
  transform: scaleX(1); 
}
&:hover{
  color: #fff;
  z-index: 2;
}

    .arrow {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: #000; // qara bg
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
        filter: brightness(0) invert(1);

        transition: transform 0.3s ease;
      }
    }

    span {
      font-size: 14px;
      white-space: nowrap;
      text-decoration: none !important;
    }

    // HOVER ROTATE
    &:hover .arrow img {
      transform: rotate(45deg);
    }
  }
}
