@use "../../styles/global.scss" as *;

.partners {
  overflow: hidden;
  padding: 68px 0;
  background-color: $main-bg-color;
  .partners-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
  }

  .partner-item {
    width: 180px;
    margin: 0 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
      opacity: 0.7;
      transition: 0.3s;
      &:hover {
        opacity: 1;
        transform: scale(1.05);
      }
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}