@use "../../styles/global.scss" as *;

#home-services {
  background-color: $main-bg-color;
  color: $main-text-color;
  border: 1px solid red;
  padding: 80px 6%;
  .head-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      padding-left: 12px;
      border-left: 2px solid $main-color;
      color: #ffffff;
      margin-bottom: 10px;
    }
  }
  .content{
    background-image: url("../../assets/images/services.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;
    .cards{
      display: flex;
      justify-content: space-between;
      align-items: end;
      border: 1px solid red;
      .card{
        width: 50%;
      }
      
    }
    // height: 100%;
    // width: 100%;

  }
}
