@use "../../styles/global.scss" as *;
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
} 

#home-services {
  background-color: $main-bg-color;
  color: $main-text-color;
  // border: 1px solid red;
  padding: 80px 6%;
  .head-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      padding-left: 12px;
      border-left: 2px solid $main-color;
      color: #ffffff;
      margin-bottom: 10px;
    }
  }
  .content{
    background-image: url("../../assets/images/services.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;
    width: 100%;
    @media (max-width:768px){
      background-image: none;
    }
    .services-cards{
    display: grid;
 grid-template-columns: repeat(2, minmax(200px, 400px)); // kart eni
  justify-content: space-between; // flex space-between kimi
  gap: 101px;
  .service-card {
    border-radius: 12px;
    padding: 1.5px;
    animation: spin-gradient 3s linear infinite;
    position: relative;
    flex: 1 0 0;
    transition: all 100ms;
    border: 2px solid #2e2e2e;
    background-color: $main-card-bg;
    // width: 400px;
    &:hover {
        // border: 1px solid #2e2e2e;
      @keyframes spin-gradient {
        from {
          --angle: 0deg;
        }
        to {
          --angle: 360deg;
        }
      }
      background: conic-gradient(
        from var(--angle) at 0% 0%,
        #2e2e2e 0deg,
        #2e2e2e8d 60deg,
        #2e2e2e70 120deg,
        $main-color 180deg,
        #2e2e2e 240deg,
        #2e2e2e 300deg,
        #2e2e2e 360deg
      );
    }
    // Soft outer glow
    &::before {
      content: "";
      position: absolute;
      inset: -1px;
      border-radius: 12px;
      // background: inherit;
      filter: blur(8px);
      opacity: 0.35;
      z-index: -1;
    }

    // Inner dark card
    &__inner {
      background: $main-card-bg;
      border-radius: 10.5px;
      display: flex;
      padding: 20px 16px;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      position: relative;
      overflow: hidden;
      height: 100%;

      // Bottom-right ambient glow
      &::after {
        content: "";
        position: absolute;
        right: -40px;
        bottom: -50px;
        width: 50%;
        height: 100%;
        filter: blur(30px);
        background: radial-gradient(
          circle,
          #e9c77f28 0%,
          #e9c77f13 20%,
          transparent 100%
        );
        border-radius: 50%;
        pointer-events: none;
      }
    }

    .card-id {
      font-family: "Space Grotesk";
      font-size: 24px;
      font-weight: 500;
      line-height: 140%;
      color: $main-text-color;
    }

    .card-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 140%;
      color: $main-text-color;
    }

    .card-text {
      font-family: "Poppins";
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      color: #bdbdbd;
    }
  }
  @media screen and (max-width:768px){

   display: grid;
 grid-template-columns: repeat(1, minmax(200px,100%));
 gap: 20px;
   
  }

 

  @media (max-width: 992px) {
    padding: 60px 0;

    .services-grid {
    

      .service-card {
        &__inner {
          padding: 18px 14px;
        }

        .card-id {
          font-size: 20px;
        }

        .card-title {
          font-size: 18px;
        }

        .card-text {
          font-size: 14px;
        }
      }
    }
  }
  
  
}
// height: 100%;
// width: 100%;

}


}
