@use "../../styles/global.scss" as *;
#why-us{
    padding: 90px 6%;
    background-color: $main-bg-color;
    z-index: -1;
    .why-us{
        //  height: 380px;
         border-radius: 12px;
         padding: 60px 100px;
         background-image: url("../../assets/images/WhyUs.webp");
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         display: flex;
         flex-direction: column;
         align-items: start;
         justify-content: center;
         position: relative;
         color: $main-text-color;
         .content{
            padding-left: 40px;
            border-left: 2px solid $main-text-color;
            max-width: 743px;
            h1{
                font-size: 50px;
            }
         }

  }
  @media (max-width:768px){
    .why-us{
        padding: 22px 5%;
        .content{
            padding:0 13px;
            h1{
                font-size: 24px !important;
            }
        }
    }
  }
}