@use "../styles/global.scss" as *;
 *{
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;
    outline: none;
}
a{
    text-decoration: none;
    color: inherit !important;
}
p{
    margin: 0;
    padding: 0;
    // color:$main-text-color;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    // color:$main-text-color;
      font-family: "Space Grotesk", sans-serif;

}
img{
    width: 100%;
    height: 100%;
}
