@use "../../styles/global.scss" as *;

#partners-page{
    background-color: $main-bg-color;
    color: $main-text-color;
    width: 100%;
    padding: 60px 6% 200px 6%;
    .partners-page-top{
        border: 2px solid #2E2E2E;
        font-size: 32px;
        line-height: 140%;
        font-weight: 500;
        text-align: center;
        position: relative;
        border-radius: 12px;
        z-index: 2;
        background-color: #141414;
        .overlay{
            border: 2px solid  #2E2E2E ;
            // position: relative;
            // bottom: -20px;
            //    border: 2px solid #2E2E2E;
            // width: 95%;
            // border-radius: 12px;
            // z-index: -1;
            // border-top: none;
            
        }
    }


    @media (max-width:768px){
        padding: 60px 5% 100px ;
    }
}