@use "../../styles/global.scss" as *;

#home-projects{
    background-color: $main-bg-color;
    color: $main-text-color;
    padding: 60px 6%;
    .head-side{
        display: flex;
        flex-direction: column;
        span{
            padding-left: 12px;
            border-left: 2px solid $main-color;
        }
    }
    .projects{
        padding-top: 48px;
        margin: 0;
        .project{
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
        }
    }
    @media (max-width: 992px) {
        padding: 40px 5%;
        .projects{
            padding-top: 36px;
        }
    }
}