@use "../../styles/global.scss" as *;
#home-about {
  background-color: $main-bg-color;
  color: $main-text-color;
  height: 100%;
  .home-about {
    padding: 60px 6%;
  }
  h1 {
    font-size: 48px;
    padding-bottom: 20px;
  }
  .text-side {
    padding-right: 10%;
  }
  .img-side {
    img {
      object-fit: contain;
      max-height: 500px;
    }
  }
  @media (max-width: 1204px) {
    h1 {
      font-size: 40px;
    }
  }
  @media (max-width: 992px) {
    .home-about {
      padding: 40px 5%;
      h1{
        font-size: 24px;
      }
      .text-side{
        padding-right: 0;
      }
      .img-side{
        padding-top: 50px;
      }
    }
  }
}
