@use "../../styles/global.scss" as *;

footer {
  background-color: #181818;
  padding: 40px 6%;
  color: #fff;
  .footer-content {
    .footer-top {
      margin: 0;
      padding: 0;
      padding-bottom: 40px;
      .footer-logo {
        padding-bottom: 20px;
        img {
          width: 123px;
          height: auto;
        }
      }
      .footer-icons {
        display: flex;
        gap: 10px;
        padding: 10px 0;
        .icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: $main-color;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      p {
        margin: 0;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        padding-bottom: 7px;
      }
    }
    a {
      text-decoration: none;
    }
    h5 {
      font-size: 18px;
      padding-bottom: 18px;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 20px 5%;
  }
}
